// colors
$colors: (
  'primary': #db9e3f,
  'info': #4b67af,
  'blue': #4394e4,
  'white': #fff,
  'light': #f9f9f9,
  'light-1': #d4d9de,
  'grey': #999,
  'grey-1': #666,
  'dark-1': #343440,
  'dark': #222,
  'black': #000
);
$border-color: map-get($colors, 'light-1');
// font size
$base-font-size: 1rem;
$font-sizes: (
  // 8px
    xxs: 0.6154,
  // 10px
    xs: 0.7692,
  // 12px
    sm: 0.9231,
  // 13px
    md: 1,
  // 14px
    lg: 1.0769,
  // 16px
    xl: 1.2308
);
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch
);
// spacing
$spacing-types: (
  m: margin,
  p: padding
);
$spacing-directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);
$spacing-base-sizes: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);
